# ------------------------
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log*
yarn-error.log*

# Angular cache
/.angular/cache

# Test coverage
/coverage

# IDEs and editors
## IntelliJ IDEA
.idea/
*.iml
*.iws
out/

## Visual Studio Code & Cursor
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Sublime Text
*.sublime-workspace
*.sublime-project

## Eclipse
.project
.classpath
.c9/
.settings/
*.launch

## NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Miscellaneous
.sass-cache/
connect.lock
/libpeerconnection.log
testem.log
/typings
.history/*

# System files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini
