<footer class="footer w-100">
    <div class="footer-content d-flex">
        <div class="footer-data">
            <div class="img">
                <img src="/img/logo.png" alt="">
            </div>
    
            <div class="text">
                <p>Atención ciudadana</p>
                <p>Digna Ochoa y Plácido 56,</p>
                <p>colonia Doctores, alcaldía Cuauhtémoc</p>
                <p>CP 06720, Ciudad de México</p>
                <p>T. 55 5200 9000 </p>
                <p>gestion_fiscal&#64;fgjcdmx.gob.mx </p>
                <p>Lunes a domingo, 24 horas</p>
            </div>
        </div>
    
        <div class="icons">
            <ul class="d-flex gap-3">
                <li><a href="https://www.instagram.com/fiscaliacdmx_?igsh=MWk5Mnh2Y3Q4NHEyZQ%3D%3D&utm_source=qr" target="_blank"><img src="/img/IN.svg" alt=""></a></li>
                <li><a href="https://www.facebook.com/share/1945BaQ3nM/?mibextid=wwXIfr" target="_blank"><img src="/img/FB.svg" alt=""></a></li>
                <li><a href="https://x.com/fiscaliacdmx?s=11&t=SC2NVRbRBze2LYOrioP4fQ" target="_blank"><img src="/img/X.svg" alt=""></a></li>
                <li><a href="https://www.tiktok.com/@fiscaliacdmx?_t=ZS-8xLHaARsLIY&_r=1" target="_blank"><img src="/img/TT.svg" alt=""></a></li>
                <li><a href="https://m.youtube.com/@PGJCDMX" target="_blank"><img src="/img/YT.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>