<footer class="footer w-100">

    <p class="footer-title text-center">Contacto</p>

    <div class="contact d-flex">
        
        <div class="phone">
            <p class="phone-title">Teléfono</p>
            <p><span>55 52 00 97 99</span></p>
            <p>Extención <span>9799</span></p>
        </div>

        <div class="email">
            <p class="email-title">Correo</p>
            <span><a href="mailto:fuerza_devolvedora@fgjcdmx.gob.mx">fuerza_devolvedora&#64;fgjcdmx.gob.mx</a></span>
        </div>

    </div>

    <p>
    <p class="hashtage mt-4">#fuerzaRecuperadora</p>
</footer>