<footer class="footer w-100">
    <div class="contact">
        <div class="div-title">
            <p class="footer-title">Contacto</p>
        </div>
    
        <div class="data-contact d-flex flex-column">    
            <div class="email">
                <p class="email-title">Correo</p>
                <span><a href="mailto:fuerza_devolvedora@fgjcdmx.gob.mx">fuerza_devolvedora&#64;fgjcdmx.gob.mx</a></span>
            </div>
    
            <div class="phone">
                <p class="phone-title">Teléfono</p>
                <p><span>55 52 00 97 99</span></p>
            </div>
        </div>
    </div>

    <p class="hashtage mt-4">#fuerzaRecuperadora</p>
</footer>