@use 'sass:color';
@use '@style/index.scss' as s;

.footer {
    background-color: s.$primary;
    
    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include s.media-resolution(721px) {
            width: 80%;
            margin: auto;
            padding: 2rem 0;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        
        .footer-data {
            padding: 1.5rem 0;
            
            @include s.media-resolution(721px) {
                padding: 0;
            }

            .img {
                width: 40%;
                margin-bottom: 1rem;

                @include s.media-tablet {
                    width: 20%;
                }

                @include s.media-desktop {
                    width: 25%;
                }

                @include s.media-large-desktop {
                    width: 30%;
                }

                img {
                    width: 100%;
                }
            }
        
            .text {
                color: white;
                font-size: .8rem;
            }
        }
        
        .icons {
            padding-bottom: 1rem;
            ul li a img {
                width: 2rem;
                height: 2rem;
            }
        
            ul li {
                transform: translateY(0);
                transition: transform .2s ease;
        
                &:hover {
                    transform: translateY(-.3rem);
                }
            }
        }
    }

}