@use '@style/index.scss' as s;

.container-site {
  background-color: s.$bg;
  overflow: hidden;

  @include s.media-resolution(721px) {
    padding-top: 2rem;
  }
  
  .content-site {
    
    @include s.media-resolution(721px) {
      width: 80%;
      margin: auto;
    
    }
  }
}
