.container-site {
    // max-width: 80rem;
    width: 100dvw;
    height: auto;
    margin: auto;
    max-height: 500dvh;
    transition: max-height .7s ease;

    .content-transition {
        position: relative;

        .img {
            position:absolute;
            bottom: 0;
            left: 0;

            img {
                object-position: center;
                object-fit: cover;
            }
        }
    }
    
    .app {
      max-height: 0;
      transition: 
      max-height 0.7s ease-in-out,
      transform  0.3s ease-in-out;
    }
    
    .show-intro {
      max-height: 500dvh;          /* o un valor en px que garantice cubrir el contenido */
      transform: translateX(0);
    }
    .hidde-intro {
      max-height: 0;
      transform: translateX(-100%);
    }
    
    .show-forms {
      max-height: 500dvh;
      transform: translateX(0);
    }
    .hidde-forms {
      max-height: 0;
      transform: translateX(100%);
    }
}
