@use '@style/index.scss' as s;

.header {
    width: 100%;
    // background: s.$primary;
    background-image: url(src/assets/img/banner-azul-1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 1.5rem 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .img {
        text-align: center;
    }

    .resguardo {
        h1 {
            text-align: center;
            color: s.$banner-hover;
            
            span {
                color: s.$green-hover;
            }
        }
    }

    .content {
        margin-top: 2rem;
        p {
            color: white;
            text-align: center;
            font-family: s.$font-text-bold;
        }

        .hashtage {
            // color: s.$third;
            color: s.$yellow-announcement;
        }
    }
    
    @include s.media-resolution(721px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 3rem;

        .content {
            margin: 0;

            p {
                text-align: end;
            }
        }

        img {
            width: 100% !important;
        }
    }
}