@use 'sass:color';
@use '@style/index.scss' as s;

html {
    font-size: 1.2rem;
    
    @include s.media-tablet {
        font-size: .9em;
    }
    
    @include s.media-desktop {
        font-size: 1.1rem;
    }
    
    @include s.media-large-desktop {
        font-size: 1.1rem;
    }
}

body {
    // min-height: 0;
    transition: all  1s ease;

}

h1, h2, h3, h4, h5, h6, legend {
    font-family: s.$font-title-bold;
}

p, a, input, select, option, textarea, blockquote, a, ol, ul, table {
    font-family: s.$font-text-normal;
}

label {
    font-family: s.$font-text-bold;
}

.btn-primary {
    font-family: s.$font-text-bold !important;
    background-color: s.$primary !important;

}

.btn-outline-primary {
    font-family: s.$font-text-bold !important;
    background-color: white;
    border: 2px solid s.$boder-primary !important;
    transition: background-color .2s ease;
    color: s.$boder-primary !important;
    
    &:hover {
        background-color: s.$primary !important;
        // background-color: s.$green-light !important;
        color: white !important;
        // color: s.$primary !important;
    }
}

.btn-block {
    border-radius: none !important;
    background-color: s.$gray !important;
    cursor: no-drop !important;
}

.swal2-title {
    @include s.media-tablet {
        font-size: 1.3rem;
    }
    
    @include s.media-desktop {
        font-size: 1.1rem;
    }
    
    @include s.media-large-desktop {
        font-size: 1.1rem;
    }
}

// .swal2-popup .swal2-modal .swal2-icon-warning .swal2-show {
.swal2-popup  {
    @include s.media-tablet {
        width: 50% !important;
    }
    
    @include s.media-desktop {
        width: 30% !important;
    }
    
    @include s.media-large-desktop {
        width: 25% !important;
    }
    
}

// body {
//     &::after {
//         content: "#recuperaloGratis";
//         position: fixed;
//         top: 40%;
//         left: 2%;
//         transform: translate(-50%, -50%);
//         font-family: s.$font-title-bold;
//         font-size: 4rem;
//         z-index: 2;
//         color: color.mix(s.$primary, transparent, 10%);
        
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 20rem;
//         height: 10rem;
//         transform: rotate(-60deg);
//         pointer-events: none;
        
//         @include s.media-tablet {
//             font-size: 4rem;
//             top: 35%;
//             left: 30%;
//             transform: rotate(-40deg);
//          }
        
//         @include s.media-desktop {
//             font-size: 4rem;
//             top: 35%;
//             left: 35%;
//             transform: rotate(-40deg);
//         }

//         @include s.media-desktop {
//             font-size: 5rem;
//             top: 35%;
//             left: 40%;
//             transform: rotate(-30deg);
//         }
//     }
// }