// @font-face {
//     font-family: 'Metropolis-medium';
//     src: url('src/assets/fonts/metropolis/Metropolis-Medium.ttf') format('truetype');
//     font-weight: normal;
// }

// @font-face {
//     font-family: 'Metropolis-semibold';
//     src: url('src/assets/fonts/metropolis/Metropolis-SemiBold.ttf') format('truetype');
//     font-weight: 600;
// }

// @font-face {
//     font-family: 'Metropolis-bold';
//     src: url('src/assets/fonts/metropolis/Metropolis-Bold.ttf') format('truetype');
//     font-weight: bold;
// }

@font-face {
    font-family: 'Lato-regular';
    src: url('src/assets/fonts/lato/Lato_Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-bold';
    src: url('src/assets/fonts/lato/Lato_Bold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Mulish-bold';
    src: url('src/assets/fonts/mulish/Mulish_Black.ttf') format('truetype');
    font-weight: bold;
}