$metropolis-normal: 'Metropolis-medium', sans-serif;
$metropolis-semi: 'Metropolis-semibold', sans-serif;
$metropolis-bold: 'Metropolis-bold', sans-serif;

$primary: #003765;

$secondary: #20A29A;

$gray: #AFAFB4;
$yellow: #FACA38;
$blue-acua: #81bcfa;
$red-warngin: #f66e6e;

$svg-danger: #ff002f;
$svg-info: #007aff;
$svg-warn: #ff9500;
