$font-text-normal: 'Lato-regular', sans-serif;
$font-text-bold: 'Lato-bold', sans-serif;
$font-title-bold: 'Mulish-bold', sans-serif;

$primary: #003057;

// $secondary: #20A29A;
// $secondary: #ded5cf;
// $secondary-light: #f1f1de;
$secondary: #007d8a;

// $third: #d5b887;
// $third: #f7ab31;
$third: #ff9e1b;

$gray: #AFAFB4;
$yellow: #FACA38;
$yellow-announcement: #fdce00; 
$blue-acua: #81bcfa;
$red-warngin: #f66e6e;
$green-light: #9ecfa2;
$green-hover: #64aaaa;

$svg-danger: #ff002f;
$svg-info: #003b43;
$svg-warn: #ff9500;

$banner-hover: #e2e2da;

$boder-primary: #003a42;
