@use '@style/index.scss' as s;

form {
    background-color: white;
   
    @include s.media-resolution(721px) {
        border-radius: 0 0 2rem 2rem;
    }

    fieldset {
        @include s.media-resolution(721px) {
            width: 90%;
            margin: auto;
        }
        
        legend {
            border-top: 4px solid s.$bg;
            border-bottom: 4px solid s.$bg;
            width: 100%;
            color: s.$primary;
            padding: .5rem 0;
        }

        .groups {
            width: 90dvw;
            margin: auto;

            @include s.media-resolution(721px) {
                width: 100%;
            }
        }
    }

    .buttons {
        width: 90dvw;
        margin: auto;
        // z-index: 3;
    }     
}

form fieldset .group {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    text-align: center;

    @include s.media-resolution(721px) {
        text-align: start;
    }

    input {
        padding: .5rem;
        border-radius: .3rem;
        border: 1px solid s.$gray;
        text-transform: uppercase;
        text-align: center;

        @include s.media-resolution(721px) {
            text-align: start;
        }
    }

    
}

form fieldset .email {
    input {
        text-transform: none;

        &::placeholder {
            text-transform: uppercase;
        }
    }
}

form fieldset .groups {
        width: 95%;
        
        @include s.media-resolution(721px) {
            width: 100%;
        }

        @include s.media-tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "name lastName1 lastName2"
        "curp . ."
        "phone1 phone2 ."
        "email email ."
        "cp . ."
        "state district municipality"
        "street external internal"
        ". text ."
        ;
        gap: 0 1rem;
    }

    @include s.media-desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "name lastName1 lastName2 curp"
        "phone1 phone2 . ."
        "email email . ."
        "cp state district municipality"
        "street external internal text"
        ;
        gap: 0 1rem;
    }

    @include s.media-large-desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "name lastName1 lastName2 curp"
        "phone1 phone2 email email"
        "cp state district municipality"
        "street external internal text"
        ;
        gap: 0 1rem;
    }

    .name {
        grid-area: name;
    }

    .lastName1 {
        grid-area: lastName1;
    }

    .lastName2 {
        grid-area: lastName2;
    }

    .curp {
        grid-area: curp;
    }

    .phone1 {
        grid-area: phone1;
    }

    .phone2 {
        grid-area: phone2;
    }

    .email {
        grid-area: email;
    }

    .cp {
        grid-area: cp;
    }

    .state {
        grid-area: state;
    }

    .district {
        grid-area: district;
    }

    .municipality {
        grid-area: municipality;
    }

    .street {
        grid-area: street;
    }

    .internal {
        grid-area: internal;
    }

    .external {
        grid-area: external;
    }

    .text {
        grid-area: text;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            transform: scale(1);
            color: rgb(104, 0, 0);
            font-family: s.$font-text-bold;
            cursor: pointer;
            transition: transform .2s ease;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.images {
    display: flex;

    .grecas {
        width: 100%;
    }
}

.no-modify {
    cursor: no-drop;
}