@use '@style/index.scss' as s;

form {
    background: url(src/assets/img/fondo-crema-con-franja-izq.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
   
    fieldset {
        legend {
            background-color: s.$secondary;
            background-size: cover;
            color: white;
            padding: .5rem 0;
            width: 100vw;
        }

        .groups {
            width: 90dvw;
            margin: auto;
        }
    }

    .buttons {
        width: 90dvw;
        margin: auto;
        // z-index: 3;
    }     
}

form fieldset .group {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: .3rem;

    input {
        padding: .5rem;
        border-radius: .3rem;
        border: 1px solid s.$gray;
        text-transform: uppercase;
    }

    
}

form fieldset .email {
    input {
        text-transform: none;

        &::placeholder {
            text-transform: uppercase;
        }
    }
}

form {
    .buttons {
        justify-content: center;
        
        @include s.media-resolution(721px) {
            justify-content: end;
            padding: 0 2rem;
        }
        button {
            padding: .5rem 2rem;
        }
    }
}

form fieldset .groups {
    @include s.media-tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "name lastName1 lastName2"
        "curp . ."
        "phone1 phone2 ."
        "email email ."
        "cp . ."
        "state district municipality"
        "street internal external"
        ;
        gap: 0 1rem;
        width: 95%;
    }

    @include s.media-desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "name lastName1 lastName2 curp"
        "phone1 phone2 . ."
        "email email . ."
        "cp state district municipality"
        "street internal external ."
        ;
        gap: 0 1rem;
        width: 95%;
    }

    @include s.media-large-desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "name lastName1 lastName2 curp"
        "phone1 phone2 email email"
        "cp state district municipality"
        "street internal external ."
        ;
        gap: 0 1rem;
        width: 95%;
    }

    .name {
        grid-area: name;
    }

    .lastName1 {
        grid-area: lastName1;
    }

    .lastName2 {
        grid-area: lastName2;
    }

    .curp {
        grid-area: curp;
    }

    .phone1 {
        grid-area: phone1;
    }

    .phone2 {
        grid-area: phone2;
    }

    .email {
        grid-area: email;
    }

    .cp {
        grid-area: cp;
    }

    .state {
        grid-area: state;
    }

    .district {
        grid-area: district;
    }

    .municipality {
        grid-area: municipality;
    }

    .street {
        grid-area: street;
    }

    .internal {
        grid-area: internal;
    }

    .external {
        grid-area: external;
    }
}

.images {
    display: flex;

    .grecas {
        width: 100%;
    }
}