@use '@style/index.scss' as s;

.introduction {
    background: url(src/assets/img/fondo-crema-con-franja-izq.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    // background-color: s.$secondary-light;
    width: 100dvw;
    padding: 2rem 0;

    .content {
        width: 90%;
        margin: auto;
        
        @include s.media-desktop {
            width: 70%;
        }

        @include s.media-large-desktop {
            width: 70%;
        }
    }

    .img {
        width: 100%;
        margin: auto;
        
        @include s.media-tablet {
            width: 50%;
            margin-bottom: 1rem;
        }
        
        @include s.media-desktop {
            width: 40%;
            margin-bottom: 1rem;
        }
        
        @include s.media-large-desktop {
            width: 50%;
            margin-bottom: 1rem;
        }

        img {
            width: 100%;
        }
    }

    .text {
        background-color: #fff;
        border-radius: .5rem;
        padding: 1rem;
        margin-bottom: 2rem;
        
        @include s.media-desktop {
            border-radius: 1rem;
            padding: 1.5rem;
        }
        
        @include s.media-large-desktop {
            border-radius: 1rem;
            padding: 2rem;
        }

        .buttons {
            justify-content: center;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }
}
