<section class="introduction">
    <div class="content">

        <!-- Imagen -->
        <div class="img">
            <img src="img/gratis.png" alt="">
        </div>

        <!-- Instrucciones -->
        <div class="text">
            <div class="text-content">
                <p>Este sistema ha sido creado para ofrecerte una manera rápida y sencilla de recuperar tu vehículo asegurado. Solo necesitas ingresar los datos solicitados, como la carpeta de investigación, la placa del vehículo y/o el número de serie y tus datos de identidad y contacto.</p> 
                <br>
                <p>Con esta información, podremos verificar los detalles y brindarte toda la información actualizada sobre el estatus de tu aseguramiento.</p>
                <br>
                <p>Además, te guiaremos paso a paso y te proporcionaremos los requisitos necesarios para la devolución de tu vehículo.</p>
                <br>
                <p>Para facilitar este proceso, un agente de nuestro centro de atención se pondrá en contacto contigo.</p>
                <br>
                <p>Nuestro objetivo es que este proceso sea lo más fácil y claro posible para ti, asegurando que siempre tengas la información que necesitas al alcance de tu mano.</p>
            </div>

            <!-- Boton -->
            <div class="buttons d-flex">
                <button class="btn btn-outline-primary" (click)="onClick()">
                    Siguiente
                </button>
            </div>
        </div>

    </div>
</section>