@use '@style/index.scss' as s;

.introduction {
    background-color: white;
    padding: 1rem 0;
    
    // .title-intro {
    //     margin: 0;
    //     color: s.$primary;
    //     text-align: center;
    //     font-family: s.$font-title-bold;
    //     font-weight: 900 !important;

    //     @include s.media-tablet {
    //         font-size: 1.5rem;
    //     }

    //     @include s.media-desktop {
    //         font-size: 1.5rem;
    //     }

    //     @include s.media-large-desktop {
    //         font-size: 1.7rem;
    //     }
    // }

    .img {
        margin: 2rem auto;
        width: 100%;
        
        // @include s.media-tablet {
        //     width: 85%;
        // }

        // @include s.media-desktop {
        //     width: 70%;
        // }

        // @include s.media-large-desktop {
        //     width: 60%;
        // }

        .image {
            display: block;
            width: 90%;
            height: 59vh;
            background-image: url(/img/banner-celular.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin: auto;
            
            @include s.media-tablet {
                width: 83%;
                height: 51vh;
                background-image: url(/img/banner-tablet.png);
            }
            
            @include s.media-resolution(1279px) {
                width: 83%;
                height: 51vh;
                background-image: url(/img/banner-pc.png);
            }
        }
    }

    p {
        width: 95%;
        margin: auto;
        text-align: center;

        @include s.media-tablet {
            width: 80%;
        }
        
        @include s.media-desktop {
            width: 60%;
        }
        
        @include s.media-large-desktop {
            font-size: 1.3rem;
            width: 55%;
        }

        b {
            color: s.$primary;
            font-family: s.$font-text-bold;
        }
    }
}
